#include <windows.h>
#include "resource.h"

IDI_APP_ICON ICON "VisualMediaPlayer.ico"
IDR_APP_PAYLOAD RCDATA "..\\payload\\VisualMediaPlayer.exe"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 12,5,5,0
 PRODUCTVERSION 12,5,5,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Visual MediaPlayer\0"
            VALUE "FileDescription", "Visual MediaPlayer Setup\0"
            VALUE "FileVersion", "12.5.5\0"
            VALUE "InternalName", "VisualMediaPlayerSetup\0"
            VALUE "OriginalFilename", "VisualMediaPlayerSetup.exe\0"
            VALUE "ProductName", "Visual MediaPlayer\0"
            VALUE "ProductVersion", "12.5.5\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
