#include <windows.h>
#include "resource.h"

IDI_APP_ICON ICON "VisualMediaPlayer.ico"

IDR_FOLDER_PNG PNG "folder.png"
IDR_REFRESH_PNG PNG "refresh.png"
IDR_SKIP_BACK_30_PNG PNG "skip_back_30.png"
IDR_SKIP_FORWARD_30_PNG PNG "skip_forward_30.png"
IDR_DOWNLOAD_PNG PNG "download.png"
IDR_RESOLUTION_4K_PNG PNG "resolution_4k.png"
IDR_RESOLUTION_5K_PNG PNG "resolution_5k.png"
IDR_RESOLUTION_8K_PNG PNG "resolution_8k.png"
IDR_VR_PNG PNG "vr.png"
IDR_RESIZE_PNG PNG "resize.png"

1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Visual MediaPlayer\0"
            VALUE "FileDescription", "Visual MediaPlayer\0"
            VALUE "FileVersion", "1.0.0\0"
            VALUE "InternalName", "VisualMediaPlayer\0"
            VALUE "OriginalFilename", "VisualMediaPlayer.exe\0"
            VALUE "ProductName", "Visual MediaPlayer\0"
            VALUE "ProductVersion", "1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END
